.ProductReviewsCard {
  background-color: white;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 25px;
}

.reviewBox {
  padding: 20px 30px;
  background-color: white;
  display: flexbox;
  margin-bottom: 30px;
}

.reviewCount {
  color: #ff6158;
  font-size: 20px;
  font-weight: 500;
}

.averageRating {
  color: #ff6158;
  display: flex;
  align-items: baseline;
  font-weight: 400;
}

.averageRating p {
  margin: 0px 5px;
}

.divider {
  height: 3px;
  width: 100%;
  background-color: #707070;
}
