.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Inter";
}

.logout__button{
    min-width: 300px;
    padding: 17px 30px;
    margin-top: 20px;
    background:turquoise;
    border: none;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 3px;
    
}
.user__name {
    color:sandybrown;
}