.EditButtonSegment {
  margin-top: 16px;
  /* display: inline; */
}

.SaveStateText {
  width: fit-content;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-weight: 400;
}

.SaveStateTextSuccess {
  color: #64bc26;
}

.SaveStateTextError {
  color: #b00020;
}

.ErrorBox {
  height: 65vh;
  width: 100%;
  color: red;
  text-align: "center";
  padding-top: 80px;
}

.ErrorBox span {
  font-size: 90px;
}

.InnerErrorBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InnerErrorBox p {
  font-size: 22px;
  margin-top: 20px;
  color: red;
}
