.InventoryItemPage {
}

.EditButtonSegment {
  display: flex;
  margin-top: 25px;
}

.ProductFurtherDetailsCard {
  background-color: white;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 25px;
}

.ProductRevenueCard {
  background-color: white;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 25px;
}

.BackButton {
  color: blue;
  display: contents;
}

.BackButton:hover {
  cursor: pointer;
}
.ErrorBox {
  height: 65vh;
  width: 100%;
  color: red;
  text-align: "center";
  padding-top: 80px;
}

.ErrorBox span {
  font-size: 90px;
}

.InnerErrorBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InnerErrorBox p {
  font-size: 22px;
  margin-top: 20px;
  color: red;
}
