.EditButtonSegment {
    margin-top: 16px;
    /* display: inline; */
  }
  
  .SaveStateText{
    width: fit-content;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-weight: 400;
  }
  
  .SaveStateTextSuccess{
    color: #64BC26
  
  }
  
  
  .SaveStateTextError{
  
    color: #b00020;
  
  }
  