.SearchBarBox {
    background-color: #e3e3e3;
    width: max-content;
    height: 33px;
    padding: 6px 5px;
    border-radius: 4px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin-top: 18px;
    padding-top: 6px;
    display: inline-flex;
    margin-right: 20px;
  }
  
  .SearchInput {
    width: 100%;
    border-style: none;
    background-color: #e3e3e3;
    height: 100%;
  
    margin-Right: 5px;
  }
  
  .SearchInput:focus {
    outline: none;
  }