.EntireInputFieldComponent {
  width: min-content;
}

.InputLabel {
  margin-bottom: 0px;
  color: rgba(00, 00, 00, 0.6);
  font-size: 13px;
  font-weight: 500;
  font-family: Barlow, sans-serif;
}

.InputLabelFocused {
  color: #065faa;
}
.InputLabelError {
  color: #b00020;
}

.InputWrapper {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  height: 42px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: rgba(00, 00, 00, 0.12);
}

.InputWrapperFocused {
  border-color: #065faa;
}

.InputWrapperError {
  border-color: #b00020;
}

.InputField {
  border: none;
  outline: none;

  width: 92%;
}

.EntireInputFieldComponent input {
  font-size: 15px;
  font-family: Barlow,sans-serif;
}

.EntireInputFieldComponent textarea {
  font-size: 15px;
  font-family: Barlow,sans-serif;
}


.InputField:focus {
  outline: none;
}

.InputError {
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: 1px;
  color: #b00020;
  width: 100%;
}

.InputTextArea {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  border: none;
  outline: none;
  width: 97%;
  height: 92%;
  resize: none;
}

.InputTextArea::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.InputTextArea:focus {
  outline: none;
}
