@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
}

nav p {
  margin-bottom: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ------------------------Navbar------------------------------ */

.navbar-banner {
  background-color: #ffffff;
  height: 88px;
}

.logo-banner {
  font-size: 39px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
}

.search-bar-box {
  background-color: #e3e3e3;
  width: 100%;
  height: 33px;
  padding: 6px 5px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(00, 00, 00, 0.3);
  margin-top: 18px;
  padding-top: 6px;
}

#search-input {
  width: 100%;
  border-style: none;
  background-color: #e3e3e3;
  height: 100%;

  margin-left: 3px;
}

#search-input:focus {
  outline: none;
}

.top-right-nav-banner-links {
  margin-left: auto;
  height: 26px;
  margin-top: 19px;
  width: 250px;
}

.top-right-nav-banner-link {
  text-align: center;
  margin-top: 2px;
  height: 100%;
  padding: 0;
}

.top-right-nav-banner-link:hover {
  cursor: pointer;
}

.top-right-nav-banner-link p {
  font-size: 16px;
  font-weight: bold;
}

.shopping-cart-banner {
  display: inline;
}

.vertical-divider {
  height: 100%;
  background-color: black;
  width: 2px;
}

.navbar-links-segment {
  background-color: #38cccc;
  height: 55px;
}

.navbarNavigationLink {
  height: 100%;
  display: inline-flex;
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
}

.navbarNavigationLink:hover {
  background-color: rgba(00, 00, 00, 0.16);
  cursor: pointer;
}

/* --------------------Footer------------------------- */

footer {
  background-color: #38cccc;
  height: 465px;
}

.footer-heading-text {
  margin-bottom: 0px;
  position: absolute;
  top: 6px;
  font-size: 18px;
  font-weight: bold;
}
.footer-headingOne-text {
  margin-bottom: 0px;
  position: absolute;
  top: 0px;
  font-size: 30px;
  font-weight: bold;
}

.footer-heading-block {
  position: relative;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}

.footer-segment-block {
  padding: 0;
}

.footer-segment-item-text {
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: 600;
}

.footer-segment-item-text:hover {
  cursor: pointer;
}

.footer-newsletter-subscribe-box {
  background-color: white;
  width: 100%;
  height: 42px;
  /* //padding: 6px 5px; */
  border-radius: 4px;

  /* padding-top: 6px; */
  display: inline-flex;
}

#footer-newsletter-subscribe-input {
  width: 100%;
  border-style: none;
  height: 100%;
  margin-left: 8px;
}

#footer-newsletter-subscribe-input:focus {
  outline: none;
}

.footer-subscribe-button {
  display: inline-block;
  padding: 9.5px 10px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer-subscribe-button:hover {
  cursor: pointer;
}

.payment-container {
  margin-left: auto;
}


